<consitency-is-key-main class="container">
  <!-- eventually these will be routes to diff pages -->
  <div class="sidenav-content d-flex flex-column flex-shrink-0 justify-content-center">
    <div class="sidebar-top">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </div>
    <div class="sidebar-middle pt-5">
      <div class="sidebar-icon">
        <mat-icon aria-hidden="false" matTooltip="My tooltip" fontIcon="home"></mat-icon>
      </div>
      <div class="sidebar-icon">
        <mat-icon aria-hidden="false" matTooltip="My tooltip" fontIcon="account_balance_wallet"></mat-icon>
      </div>
      <div class="sidebar-icon">
        <mat-icon aria-hidden="false" matTooltip="My tooltip" fontIcon="business"></mat-icon>
      </div>
    </div>
    <div class="sidebar-bottom">
      <mat-icon class="mat-18">settings</mat-icon>
    </div>
  </div>

  <div class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <mat-card class="">
            <mat-card-header>
              <mat-card-title>Welcome Back Mark!</mat-card-title>
              <mat-card-subtitle>Subtitle</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              Looks like your not verified yet. Verify yourself to use the full potential of
              Caesar
            </mat-card-content>
          </mat-card>
            <mat-card class="mt-2">
              <mat-card-header>
                <mat-card-title>Welcome Back Mark!</mat-card-title>
                <mat-card-subtitle>Subtitle</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                Looks like your not verified yet. Verify yourself to use the full potential of
                Caesar
              </mat-card-content>
            </mat-card>
              <mat-card class="mt-2">
                <mat-card-header>
                  <mat-card-title>Welcome Back Mark!</mat-card-title>
                  <mat-card-subtitle>Subtitle</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  Looks like your not verified yet. Verify yourself to use the full potential of
                  Caesar
                </mat-card-content>
              </mat-card>
        </div>
        <div class="col-md-6">
          Second COl
        </div>
        <div class="col-md-3">
          Third Col
        </div>
      </div>
    </div>
  </div>
</consitency-is-key-main>
